* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
/* UTILITIES */
.bg-blue{
  background-color: rgb(12, 124, 236) ;
}
.d-flex{
  display: flex;
}

/* *******************HEADER********************** */
header {
  padding: 20px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-50 {
  width: 50%;
}
ul {
  list-style-type: none;
  padding: 10px;
}
a {
  text-decoration: none;
  color: black;
}

#menu {
  display: flex;
  gap: 15px;
}
a:hover{
  color: rgb(2, 130, 249);
}
/* *******************MAIN********************** */
main{
  background-color: black;
  color: white;
  padding: 50px;
}
/* *******************FOOTER********************** */
.footer-list a {
  color: white;
}
.footer-list img {
  width: 50px;
}
/* main footer */
.main-footer{
  background-image: url('/img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  color: white;
}
.col-33{
  width: calc(100% / 3);
}
footer ul{
  padding: 0px;
}